<p id="notice"><%= notice %></p>

<h2>Seu Carrinho</h2>
<table>
  <%= render @cart.line_items %>
    <tr>
      <td>Total</td>
      <td><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>

<%= button_to 'Esvaziar Carrinho', @cart, :method => :delete, :data => {:confirm => 'are you sure?'} %>
<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
