<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Discount</th>
    <th>Quantity</th>
    <th>Console</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= product.description %></td>
    <td><%= product.discount %></td>
    <td><%= product.quantity %></td>
    <td><%= product.console.name %></td>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
